.navigation {
    gap: 3em;
    padding-top: 1.5rem;
    margin: auto 0;
    font: 600 16px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

.navLink {
    text-decoration: none;
    color: black;
}

.navLink:hover {
    color: #dbc87b !important;
}

@media (max-width: 991px) {
    .navigation {
        white-space: initial;
    }
}

@media screen and (max-width: 400px) {
    .navigation {
        gap: 1em;
        padding: 0;
    }
    
}